@font-face {
    font-family: 'DeftoneStylus';
    src: url(../fonts/DeftoneStylus.ttf);
    font-weight: normal;
    font-style: normal;
  }

  body {
      margin: 0;
      padding: 0;
  }

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Lato;
    font-size: 12px;
    color: #777777;
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #EAEAEA;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}





// NAV
nav {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #fc6863
    }

    .nav__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 70px;
        min-height: 70px;
        padding-bottom: 10px;
        font-size: 11px;
        color: #fff;
        text-decoration: none;

        &--logo {
            align-items: center;
            font-family: 'DeftoneStylus';
            font-size: 40px;
            color: #fc6863;
            background-color: #fff;
            box-shadow: 5px -1px 5px #888;
        }

        &--home {
            background: url(../img/nav/home.png) no-repeat center 20px;
        }

        &--statistics {
            background: url(../img/nav/statics.png) no-repeat center 20px;
        }

        &--users {
            background: url(../img/nav/user.png) no-repeat center 20px;
        }

        &--settings {
            background: url(../img/nav/settings.png) no-repeat center 20px;
        }

        &--information {
            background: url(../img/nav/quires.png) no-repeat center 20px;
        }

        &--power {
            background: url(../img/nav/power.png) no-repeat center 20px;
        }
    }



// HEADER
header {
    display: flex;
    border-bottom: solid #F1F1F1 1px;
    background: #fff;
    width: 95%;
    }


.panel {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.item {
    padding: 0 20px;
    border-right: solid #F1F1F1 1px;
}

.header__panel--left {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FD7858;
        width: 33px;
        height: 18px;
        border-radius: 20px;
        li {    
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
            margin-left: 1px;
        }
    }

    a {
        display: flex;
        align-items: center;
    }
}

.search {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0;


    input {
        border: none;
        background-color: #f8f8f8;
        margin-right: 100px;
        outline: none;
    }
}

.header__panel--right {
    display: flex;

    a {
        display: flex;
        align-items: center;
    }
}

.header__upload {
    border-left: solid #F1F1F1 1px;
}

.header__planet-earth {
    border: none;
}

.operator {
    display: flex;
    align-items: center;
    li {
        width: 5px;
        height: 5px;
        margin: 1px 0;
        background-color: grey;
        border-radius: 50%;
    }
    &__avatar {
        width: 70px;
        height: 70px;
        background-image: url(../img/header/operator/Kendall-Jenner.png);
        margin-left: 10px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__name {
        color: #FD7858;
        font-size: 13px;
    }

    &__profession {
        font-size: 10px;
    }
}





// STATICS
.statics {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 20px 0px;

    &__item {
        font-weight: bold;
    }

    &__data {
        color: #FD7858;
        font-size: 20px;
    }

    &__dynamics {
        display: flex;
    }

    &__progress::before {
        content: url(../img/main/progress.png);
        margin-right: 5px;        
    }

    &__regression::before {
        content: url(../img/main/regression.png);
        margin: 0 5px;              
    }

    &__statics--new {
        color: #FD7858;
    }

}






// MAIN-ASIDE
.main-aside {
    display: flex;
    width: 95%;
}

// MAIN


// REVENUE
.revenue {
    display: flex;
    justify-content: space-between;
}


// CHART
.chart {
    margin: 20px;
    padding: 20px;
    background: #fff;
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title p, a {
        font-size: 14px;
        font-weight: bold;        
    }

    &__menu {
        display: flex;
        align-items: center;
        li {
            margin: 10px;
            a:hover {
                color: white;
                background-color: red;
                border-radius: 40%;
                padding: 5px 20px;
            }
        }
    }

    &__mainContent {
        width: 35vw;

        img {
            width: 100%;
        }
    }

    &__revenue {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__period {
        display: flex;
        margin: 0 10px;
    }

    &__content {
        display: flex;
    }

    &__months {
        display: flex;
        justify-content: space-around;
    }

    .chart__additionally li {
        width: 5px;
        height: 5px;
        margin: 1px 0;
        background-color: grey;
        border-radius: 50%;
    }
}





// BLOCK
.block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 20px;
    padding: 20px;

    &__mainContent {
        display: flex;
        justify-content: center;
        border: 10px solid #906fca;
        border-radius: 50%;
        background-color: #ededed;
    }

    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 87px;
        height: 87px;
        border: 10px solid #ededed;
        border-radius: 50%;
        background-color: #ffffff;
    }

    &__content {
        color: #6a5bb4;
        font-size: 25px;
        font-weight: bold;
        margin: 20px;
    }
}






// SYSTEM
.system {
    display: flex;
    justify-content: space-between;
}

// customersFeed
.customersFeed {
    width: 50%;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    &__title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__status {
        font-size: 8px;
    }
    &__item {
        background-color: #fcfcfc;
        border: 1px solid #f1f1f1;
        margin-bottom: 20px;
        p {
            margin: 20px;
        }
        span {
            font-weight: bold;
        }
    }

    .customer {  
        display: flex;
        justify-content: space-around;

        img { 
            width: 43px;
            height: 43px;
            object-position: top;
            object-fit: cover;
        }
    }
}







// LOGISTICS
.logistics {
    width: 50%;
    &__title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}


// TODAYSTASK
.todaysTask {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
}

.todolist {
    &__item {
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
    }
    img {
        margin: 0 10px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .time {
            display: flex;
            align-items: center;
        }
        .input {
            color: #FD566F;
            font-family: 'Lato-Black';
            font-weight: bold;
        
            input {
                margin-right: 20px;
            }
        }
    }
}

.todolist__item:nth-child(even){
    background: #fcfcfc;
}








// VIEW
.view {
    display: flex;
    .block__mainContent {
        border: none;
    }
    .block__item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        .block__content {
            color: #FD7858;
        }
    }
}







// ASIDE-FOOTER
.aside-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// ASIDE
.aside {
    &__menu {
        display: flex;
        justify-content: space-around;
        background-color: #FD7858;

        li {
            padding: 10px;
        }

        li:hover {
            background-color: #c44556;
            cursor: pointer;
        }
    }

    &__users {
        background-color: white;
        height: 33vw;
        overflow: hidden auto;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
    }

    &__avatar img {
        width: 43px;
        height: 43px;
        object-position: top;
        object-fit: cover;
    }
}

.searchPeoples {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    input {
        font-size: 10px;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #777777;
    }
}

// FOOTER
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
 .social {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 10px 0;
     li {
         padding: 10px;
         margin: 5px;
         width: 55px;
         height: 55px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 25%;
     }
     .rdio {
         background-color: #8662c5;
     }
     .css-3 {
         background-color: #4eccc4;
     }
     .deviantart {
         background-color: #e5a58f;
     }
     .xing {
         background-color: #7e7fd9;
     }
     .vimeo {
         background-color: #30c3df;
     }
     .vk {
         background-color: #f9c787;
     }
 }
