@font-face {
    font-family: 'DeftoneStylus';
    src: url(../fonts/DeftoneStylus.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Lato;
    font-size: 12px;
    color: #777777;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// WRAP
.wrap {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #EAEAEA;
    display: flex;
}

// NAV
nav {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #fc7858, #fd4e75);

    .nav__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 70px;
        min-height: 70px;
        padding-bottom: 10px;
        font-size: 11px;
        color: #fff;
        text-decoration: none;

        &--logo {
            align-items: center;
            font-family: 'DeftoneStylus';
            font-size: 40px;
            color: #fc6863;
            background-color: #fff;
            box-shadow: 5px -1px 5px #888;
        }

        &--home {
            background: url(../img/nav/home.png) no-repeat center 20px;
        }

        &--statistics {
            background: url(../img/nav/statics.png) no-repeat center 20px;
        }

        &--users {
            background: url(../img/nav/user.png) no-repeat center 20px;
        }

        &--settings {
            background: url(../img/nav/settings.png) no-repeat center 20px;
        }

        &--information {
            background: url(../img/nav/quires.png) no-repeat center 20px;
        }

        &--power {
            background: url(../img/nav/power.png) no-repeat center 20px;
            margin-top: auto;
        }

        &:not(:first-child):hover {
            background-color: #c44457;
        }

        &:not(:first-child):hover::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 70px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 8px solid #c44457;
            }

        &--logo:hover {
            background-color: wheat;
        }
    }
}

// WRAPPER   
.wrapper {
    margin-left: 70px;

}
// HEADER
header {
    display: flex;
    border-bottom: solid #F1F1F1 1px;
    background: #fff;
}
    .panel {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    .item {
        padding: 0 20px;
        border-right: solid #F1F1F1 1px;
    }

    .header__panel--left {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #fd4e75, #fc7858);
            width: 33px;
            height: 18px;
            border-radius: 20px;

            li {    
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #fff;
                margin-left: 1px;
            }
        }

        a {
            display: flex;
            align-items: center;
        }
    }

.search {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0;

    input {
        border: none;
        background-color: #f8f8f8;
        margin-right: 100px;
        outline: none;
    }
}

.header__panel--right {
    display: flex;

    a {
        display: flex;
        align-items: center;
    }
}

.header__upload {
    border-left: solid #F1F1F1 1px;
}

.header__planet-earth {
    border: none;
}

.operator {
    display: flex;
    align-items: center;

    li {
        width: 5px;
        height: 5px;
        margin: 1px 0;
        background-color: grey;
        border-radius: 50%;
    }

    &__avatar {
        width: 70px;
        height: 70px;
        background-image: url(../img/header/operator/Kendall-Jenner.png);
        margin-left: 10px;
    }

    &__info {
        margin: 0 20px;
    }

    &__name {
        color: #FD7858;
        font-size: 13px;
        font-weight: bold;
    }

    &__profession {
        font-size: 10px;
        color: #BFBFBF;
    }
}

// STATICS
.statics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 20px 0px;

    &__item p {
        font-weight: bold;
    }

    &__data {
        color: #FD7858;
        font-size: 20px;
    }

    &__dynamics {
        display: flex;
    }

    &__progress::before {
        content: url(../img/main/progress.png);
        margin-right: 5px;        
    }

    &__regression::before {
        content: url(../img/main/regression.png);
        margin: 0 5px;              
    }

    &__statics--new {
        color: #FD7858;
    }

}

// MAIN-ASIDE
.main-aside {
    display: flex;
}

// MAIN

// REVENUE
.revenue {
    display: flex;
    justify-content: space-between;
}

// CHART
.chart {
    margin: 20px;
    padding: 20px;
    background: #fff;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title p, a {
        font-size: 14px;
        font-weight: bold;        
    }

    &__menu {
        display: flex;
        align-items: center;

        li {
            margin: 10px;

            a:hover {
                color: white;
                background-color: red;
                border-radius: 25%;
                padding: 5px 20px;
            }
        }
    }

    &__mainContent {
        width: 35vw;

        img {
            width: 100%;
        }
    }

    &__revenue {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__period {
        display: flex;
        margin: 0 10px;
    }

    &__content {
        display: flex;
    }

    &__months {
        display: flex;
        justify-content: space-around;
    }

    .chart__additionally li {
        width: 5px;
        height: 5px;
        margin: 1px 0;
        background-color: grey;
        border-radius: 50%;
    }
}

// BLOCK
.block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 20px;
    padding: 20px;

    &__mainContent {
        display: flex;
        justify-content: center;
        border: 10px solid #906fca;
        border-radius: 50%;
        background-color: #ededed;
    }

    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 87px;
        height: 87px;
        border: 10px solid #ededed;
        border-radius: 50%;
        background-color: #ffffff;
    }

    &__content p {
        color: #6a5bb4;
        font-size: 25px;
        font-weight: bold;
        margin: 20px;
    }
}

// SYSTEM
.system {
    display: flex;
    justify-content: space-between;
}

// customersFeed
.customersFeed {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
  
    &__title p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__customers {
        height: 0;
    }

    .customer {  
        display: flex;
        justify-content: space-around;

        img { 
            width: 43px;
            height: 43px;
            object-position: top;
            object-fit: cover;
        }
    }
      
    &__status p {
        font-size: 8px;
    }

    &__feeds {
        margin-left: 20px;
    }

    &__container {   
        border-left: 2px solid #f1f1f1;
        padding-left: 10px;
        margin-left: 10px;
    }

    &__item {
        background-color: #fcfcfc;
        border: 1px solid #f1f1f1;
        margin-bottom: 20px;

        p {
            margin: 20px;
        }

        span {
            font-weight: bold;
        }
    }
}

// LOGISTICS
.logistics {

    &__title p {
        font-size: 14px;
        font-weight: bold;
    }
}

// TODAYSTASK
.todaysTask {    
    height: 12vw;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.todolist {
    img {
        margin: 0 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        
        .time {
            display: flex;
            align-items: center;
        }

        .input {
            color: #FD566F;
            font-family: 'Lato-Black';
            font-weight: bold;
        
            input {
                margin-right: 20px;
            }
        }
    }
}

.todolist__item:nth-child(even){
    background: #fcfcfc;
}

// VIEW
.view {
    display: flex;

    .block__mainContent {
        border: none;
    }

    .block__item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        .block__content p {
            color: #FD7858;
        }
    }
}

// ASIDE-FOOTER
.aside-footer {
    display: flex;
    flex-direction: column;
}

// ASIDE
.aside {
    &__menu {
        display: flex;
        background: linear-gradient(90deg, #fd4e75, #fc7858);
    }

    &__link {
        position: relative;
        width: 86px;
        min-height: 48px;

        &--users {
            background: url(../img/aside/users.png) no-repeat center;
        }
        &--chat {
            background: url(../img/aside/chat.png) no-repeat center;
        }
        &--like {
            background: url(../img/aside/like.png) no-repeat center;
        }
    }

    &__link:hover {
        background-color: #c44457;
    }
    
    &__link:hover::after {
        content: "";
        position: absolute;
        top: 48px;
        left: 43px;
        width: 0;
        height: 0;
        border-top: 8px solid  #c44457;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        }

    &__users {
        background-color: white;
        height: 26vw;
        overflow-y: scroll;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
    }

    &__name {
        font-size: 13px;
        font-weight: bold;
    }

    &__profession {
        font-size: 10px;
        color: #BFBFBF;
    }

    &__avatar img {
        width: 43px;
        height: 43px;
        object-position: top;
        object-fit: cover;
    }
}

.searchPeoples {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    input {
        font-size: 10px;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #777777;
    }
}

// FOOTER
footer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 25px 0;

    li {
        padding: 10px;
        margin: 5px;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
    }

    .rdio {
        background: linear-gradient(120deg, #b26ae1, #6359b0);
    }

    .css-3 {
        background: linear-gradient(120deg, #52e7c5, #4bb9c3);
    }

    .deviantart {
        background: linear-gradient(120deg, #f6b797, #ad6a77);
    }

    .xing {
        background: linear-gradient(120deg, #708ae6, #8841af);
    }

    .vimeo {
        background: linear-gradient(120deg,  #29cddd,#5885e8);
    }

    .vk {
        background: linear-gradient(120deg, #fbda89, #f48982);
    }
 }
