@font-face {
  font-family: 'DeftoneStylus';
  src: url(../fonts/DeftoneStylus.ttf);
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-size: 12px;
  color: #777777;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  margin-top: -8px;
  height: 100%;
  position: absolute;
  background: #FD7858;
  left: 0;
  width: 5%;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DeftoneStylus';
  background-color: #FFFFFF;
  color: #FD7858;
  font-size: 30px;
  padding: 20px;
}

nav .nav__menu p {
  font-size: 10px;
  color: #FFFFFF;
}

nav .nav__link {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid grey 1px;
  background: #fff;
  width: 95%;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  padding: 0 20px;
  border-right: solid grey 1px;
}

.header__panel--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__panel--left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.header__panel--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__panel--right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__upload {
  border-left: solid grey 1px;
}

.header__planet-earth {
  border: none;
}

.operator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operator li {
  width: 5px;
  height: 5px;
  margin: 1px 0;
  background-color: grey;
  border-radius: 50%;
}

.operator__avatar {
  margin-left: 10px;
}

.operator__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.operator__name {
  color: #FD7858;
  font-size: 13px;
}

.operator__profession {
  font-size: 10px;
}

.statics {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 20px 0px;
}

.statics__item {
  font-weight: bold;
}

.statics__data {
  color: #FD7858;
  font-size: 20px;
}

.statics__dynamics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statics__progress::before {
  content: url(../img/progress.png);
  margin-right: 5px;
}

.statics__regression::before {
  content: url(../img/regression.png);
  margin: 0 5px;
}

.statics__statics--new {
  color: #FD7858;
}

.main-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

.revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart {
  margin: 20px;
  padding: 20px;
  background: #fff;
}

.chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart__title p, .chart a {
  font-size: 14px;
  font-weight: bold;
}

.chart__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart__menu li {
  margin: 10px;
}

.chart__menu li a:hover {
  color: white;
  background-color: red;
  border-radius: 40%;
  padding: 5px 20px;
}

.chart__revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chart__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.chart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chart .chart__additionally li {
  width: 5px;
  height: 5px;
  margin: 1px 0;
  background-color: grey;
  border-radius: 50%;
}

.block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.block__mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 10px solid #906fca;
  border-radius: 50%;
  background-color: #ededed;
}

.block__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87px;
  height: 87px;
  border: 10px solid #ededed;
  border-radius: 50%;
  background-color: #ffffff;
}

.block__content {
  color: #6a5bb4;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customersFeed {
  width: 50%;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}

.customersFeed__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.customersFeed__status {
  font-size: 8px;
}

.customersFeed__item {
  background-color: #fcfcfc;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.customersFeed__item p {
  margin: 20px;
}

.customersFeed__item span {
  font-weight: bold;
}

.customersFeed .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logistics {
  width: 50%;
}

.logistics__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.todaysTask {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}

.todolist__item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.todolist img {
  margin: 0 10px;
}

.todolist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todolist__item .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todolist__item .input {
  color: #FD566F;
  font-family: 'Lato-Black';
  font-weight: bold;
}

.todolist__item .input input {
  margin-right: 20px;
}

.todolist__item:nth-child(even) {
  background: #fcfcfc;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view .block__mainContent {
  border: none;
}

.view .block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.view .block__item .block__content {
  color: #FD7858;
}

.aside__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FD7858;
}

.users {
  background-color: white;
  height: 26vw;
  overflow: hidden auto;
}

.searchPeoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.searchPeoples input {
  font-size: 10px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #777777;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social li {
  padding: 10px;
  margin: 5px;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
}

.social .rdio {
  background-color: #8662c5;
}

.social .css-3 {
  background-color: #4eccc4;
}

.social .deviantart {
  background-color: #e5a58f;
}

.social .xing {
  background-color: #7e7fd9;
}

.social .vimeo {
  background-color: #30c3df;
}

.social .vk {
  background-color: #f9c787;
}
/*# sourceMappingURL=main.css.map */